<div class="inbox">
    <div class="inbox__sidebar">
        <app-conversation-list (conversationSelected)="onConversationSelected($event)"
            [selectedConversationId]="selectedConversationId"></app-conversation-list>
    </div>

    <div class="inbox__main">
        @if (selectedConversationId; as id) {
        <!-- Header de la conversación -->
        <div class="inbox__header">
            <div class="inbox__phone">
                📞 {{ selectedConversation?.userName || selectedConversation?.phoneNumber }}
            </div>

        </div>

        <!-- Conversación -->
        <div class="inbox__conversation">
            <app-conversation-view [conversationId]="id"></app-conversation-view>
        </div>
        } @else {
        <div class="inbox__empty">
            Selecciona una conversación para verla aquí.
        </div>
        }
    </div>

    @if (selectedConversation) {
    <div class="inbox__details">
        <div class="inbox__agent" style="margin-bottom: 15px;">
            <h4>Agente asignado:</h4>
            <select [(ngModel)]="assignedAgent">
                <option *ngFor="let agent of agents" [value]="agent">{{ agent }}</option>
            </select>
        </div>

        <h4>Notas internas</h4>
        <textarea [(ngModel)]="internalNotes" placeholder="Añadir nota..."></textarea>
    </div>
    }
</div>